* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eng-srn.eng-srn.dix -text
/apertium-eng-srn.eng-srn.lrx -text
/apertium-eng-srn.eng-srn.t1x -text
/apertium-eng-srn.eng-srn.t2x -text
/apertium-eng-srn.eng-srn.t3x -text
/apertium-eng-srn.srn-eng.lrx -text
/apertium-eng-srn.srn-eng.t1x -text
/apertium-eng-srn.srn-eng.t2x -text
/apertium-eng-srn.srn-eng.t3x -text
/autogen.sh -text
/bron_misrefi.txt -text
/bron_misrefi_translated.txt -text
/configure.ac -text
/modes.xml -text
